.account {
  display: flex;
  padding: 10px;
}
.upload {
  width: 50vw;
}
.other {
  width: 30vw;
  color: #f7d1cd;
}
.upload h2 {
  text-align: center;
}

.button {
  text-align: center;
}

@media only screen and (max-width: 1080px) {
  .account {
    flex-direction: column;
  }
}

.highlight {
  color: white;
}
