.buying-form {
  width: 20%;
  margin: 10% 2%;
}

button.icon {
  border: none;
  color: #e63946;
  background: #1f5298;
  border-radius: 5px;
  margin: 5px;
}
button i {
  width: 200px;
  padding: 10px;
}
