.details {
  display: flex;
  flex-direction: column;
}
.img-con {
  width: 30vw;
  height: 30vw;
}

.product {
  display: flex;
  left: 0;
}

button.icon {
  min-width: fit-content;
  border: none;
  color: red;
  background: blue;
}
img {
  width: 30vw;
  height: 30vw;
  object-fit: contain;
}

.title {
  margin: 10% 2%;
  width: 30%;
}
