@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: auto;
}
body {
  font-family: "Lato", sans-serif;
}

.container {
  width: 900px;
  margin: auto;
  padding: 10px;
}

nav {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 2px solid #eee;
  background: #1f5298;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
  display: inline;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: #94c1e7;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: #ffffff;
}

main {
  background: #88cee7;
}

footer {
  border-top: 2px solid #eee;
}

#about {
  text-align: center;
}
#about h2 {
  color: #1f5298;
}
#about p {
  color: #707070;
}
#contact {
  text-align: center;
}
#contact h2 {
  color: #1f5298;
}
#contact h4 {
  color: #707070;
}

.spinner-border {
  text-align: center;
}

.spinner {
  text-align: center;
}
.con {
  display: flex;
  flex-wrap: wrap;
}
.main {
  margin: 20px;
  border: 1px solid black;
  text-align: center;
}
.con div {
  width: 300px;
}

.con div img {
  width: 200px;
}

.highlight {
  color: #f1e5d4;
}

/* @media only screen and(max-width:500px) {
  .container {
    width: 200px;
  }

} */
